body {
  font-family: 'Ranchers', cursive;
}

.App {
  position: relative;
}

/* Pseudo-element to add opacity to the background image without
affecting the foreground */
.App::after {
  content: "";
  background: url(./acnh-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.35;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}